<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emcs.mapper.common.CommonMapper" >


  <select id="getNextVal" parameterType="string"  resultType="int" >
    select GETNEXTVAL(#{sqeName}) from dual;
  </select>

</mapper>