<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emcs.mapper.ManyTableDMLMapper" >
    <!--批量备份会员虚拟账户余额信息-->
    <insert id="batchVaCustVirtualAcctBal" parameterType="hashMap">
        insert into va_cust_virtual_acct_bal_day
        select cust_virid,vir_acct_type,cust_id,#{run_date},actural_bal,usable_bal,freeze_bal,recharge_bal from va_cust_virtual_acct_bal
    </insert>

    <!--批量备份商户虚拟账户余额信息-->
    <insert id="batchVaMerchVirtualAcctBal" parameterType="hashMap">
        insert into va_cust_merch_acct_bal_day
        select merch_virid,vir_acct_type,merch_id,#{run_date},actural_bal,usable_bal,freeze_bal,recharge_bal from va_merch_virtual_acct_bal
    </insert>

    <!--插入日终任务日志记录表-->
    <insert id="insertEodProcPrdLogs" parameterType="hashMap">
        insert into eod_proc_prd_log select #{proc_log_seq},prd_no,#{tran_date},step_no,step_desc,class_bean,'666666',''
          from eod_proc_rule
          where status='1' and prd_no=#{prd_no}
    </insert>


</mapper>