<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emcs.mapper.OneTableDMLMapper" >
    <insert id="insertVaPlatInfo" parameterType="hashMap" >
        insert into va_plat_info
        (
        plat_id,pay_merch_id,plat_name,
        legal_person,status,payment_type,
        global_type,global_id,tel_no,
        email,adress,url,create_date,
        create_user,update_date,update_user,
        cancel_date,cancel_user,effect_date,
        source_type,remark,plat_type,
        plat_level,allow_user,allow_date,allow_status
        )
        values
        (
        #{plat_id},#{pay_merch_id},#{plat_name},
        #{legal_person},#{status},#{payment_type},
        #{global_type},#{global_id},#{tel_no},
        #{email},#{adress},#{url},
        #{create_date},#{create_user},
        #{update_date},#{update_user},
        #{cancel_date},#{cancel_user},
        #{effect_date},#{source_type},
        #{remark},#{plat_type},
        #{plat_level},#{allow_user},
        #{allow_date},#{allow_status}
        )
    </insert>
    <insert id="insertVaPlatVirtualAcctBal" parameterType="hashMap">
        insert into va_plat_virtual_acct_bal
        (
        vir_acct_id,
        vir_acct_type,
        plat_id,
        actural_bal,
        usable_bal,
        freeze_bal,
        charge_bal
        )
        values
        (
        #{vir_acct_id},
        #{vir_acct_type},
        #{plat_id},
        #{actural_bal},
        #{usable_bal},
        #{freeze_bal},
        #{charge_bal}
        )
    </insert>

    <insert id="insertVaPlatVirtualAcct" parameterType="hashMap">
        insert into va_plat_virtual_acct
        (
        vir_acct_id,plat_id,
        vir_acct_type,vir_acct_sort,
        vir_acct_name,acct_ccy,
        acct_status,rel_bank_acct,
        is_in,is_out,is_total_limit,
        total_limit,is_balance_limit,
        balance_type,balance_value,
        open_date,open_user,
        cancel_date,update_date,
        source_user,effect_date,plat_name
        )
        values
        (
        #{vir_acct_id},#{plat_id},
        #{vir_acct_type},#{vir_acct_sort},
        #{vir_acct_name},#{acct_ccy},
        #{acct_status},#{rel_bank_acct},
        #{is_in},#{is_out},#{is_total_limit},
        #{total_limit},#{is_balance_limit},
        #{balance_type},#{balance_value},
        #{open_date},#{open_user},
        #{cancel_date},#{update_date},
        #{source_user},#{effect_date},#{plat_name}
        )
    </insert>

    <insert id="insertVaPlatAccInfo" parameterType="hashMap">
        insert into va_plat_acct_info
        (
        acct_id,plat_id,acct_type,
        acct_no,acct_name,is_this_bank,
        acct_br_no,acct_br_name,acct_ccy,
        update_date,update_user,acct_status,acct_category
        )
        values
        (
        #{acct_id},#{plat_id},#{acct_type},
        #{acct_no},#{acct_name},#{is_this_bank},
        #{acct_br_no},#{acct_br_name},#{acct_ccy},
        #{update_date},#{update_user},#{acct_status},#{acct_category}
        )
    </insert>

</mapper>