<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emcs.mapper.OneTableDMLMapper" >
    <!---注册平台信息-->
    <insert id="insertVaPlatInfo" parameterType="hashMap" >
        insert into va_plat_info
        (
            plat_id,pay_merch_id,plat_name,
            legal_person,status,payment_type,
            global_type,global_id,tel_no,
            email,address,url,create_date,
            create_user,update_date,update_user,
            cancel_date,cancel_user,effect_date,
            source_type,remark,plat_type,
            plat_level,allow_user,allow_date,allow_status
        )
        values
        (
            #{plat_id},#{pay_merch_id},#{plat_name},
            #{legal_person},#{status},#{payment_type},
            #{global_type},#{global_id},#{tel_no},
            #{email},#{address},#{url},
            #{create_date},#{create_user},
            #{update_date},#{update_user},
            #{cancel_date},#{cancel_user},
            #{effect_date},#{source_type},
            #{remark},#{plat_type},
            #{plat_level},#{allow_user},
            #{allow_date},#{allow_status}
        )
    </insert>

    <!---注册平台虚拟账户-->
    <insert id="insertVaPlatVirtualAcctBal" parameterType="hashMap">
        insert into va_plat_virtual_acct_bal
          ( plat_virid, vir_acct_type,plat_id, actural_bal,usable_bal,freeze_bal, recharge_bal)
        values
          (#{plat_virid}, #{vir_acct_type}, #{plat_id}, #{actural_bal},#{usable_bal},#{freeze_bal}, #{recharge_bal})
    </insert>

    <!---扣减平台虚拟账户余额-->
    <update id="updateVaPlatVirtualAcctBalSub" parameterType="hashMap">
        update va_merch_virtual_acct_bal set
        actural_bal = actural_bal - #{tran_amt},
        usable_bal = usable_bal - #{usable_bal},
        recharge_bal = recharge_bal - #{recharge_bal}
        <trim prefix="where" prefixOverrides="and">
            <if test="vir_acct_type!=null and vir_acct_type!=''">and vir_acct_type=#{vir_acct_type}</if>
            <if test="plat_id!=null and plat_id!=''">and plat_id=#{plat_id}</if>
            <if test="plat_virid!=null and plat_virid!=''">and plat_virid=#{plat_virid}</if>
        </trim>
    </update>

    <!---增加平台虚拟账户余额-->
    <update id="updateVaPlatVirtualAcctBalAdd" parameterType="hashMap">
        update va_merch_virtual_acct_bal set
        actural_bal = actural_bal + #{tran_amt},
        usable_bal = usable_bal + #{usable_bal},
        recharge_bal = recharge_bal + #{recharge_bal}
        <trim prefix="where" prefixOverrides="and">
            <if test="vir_acct_type!=null and vir_acct_type!=''">and vir_acct_type=#{vir_acct_type}</if>
            <if test="plat_id!=null and plat_id!=''">and plat_id=#{plat_id}</if>
            <if test="plat_virid!=null and plat_virid!=''">and plat_virid=#{plat_virid}</if>
        </trim>
    </update>

    <!---注册平台虚拟账户-->
    <insert id="insertVaPlatVirtualAcct" parameterType="hashMap">
        insert into va_plat_virtual_acct
        (
            plat_virid,plat_id,
            vir_acct_type,vir_acct_sort,
            vir_acct_name,currency,
            acct_status,acct_no,
            is_in,is_out,is_total_limit,
            total_limit,is_balance_limit,
            balance_type,balance_value,
            open_date,open_user,
            cancel_date,update_date,
            source_user,effect_date,plat_name
        )
        values
        (
            #{plat_virid},#{plat_id},
            #{vir_acct_type},#{vir_acct_sort},
            #{vir_acct_name},#{currency},
            #{acct_status},#{acct_no},
            #{is_in},#{is_out},#{is_total_limit},
            #{total_limit},#{is_balance_limit},
            #{balance_type},#{balance_value},
            #{open_date},#{open_user},
            #{cancel_date},#{update_date},
            #{source_user},#{effect_date},#{plat_name}
        )
    </insert>

    <!---给平台绑定银行账户信息-->
    <insert id="insertVaPlatAccInfo" parameterType="hashMap">
        insert into va_plat_acct_info
        (
            acct_id,plat_id,acct_type,
            acct_no,acct_name,is_this_bank,
            acct_br_no,acct_br_name,currency,
            update_date,update_user,acct_status,acct_category
        )
        values
        (
            getnextval('plat_ban_acc_seq_no'),#{plat_id},#{acct_type},
            #{acct_no},#{acct_name},#{is_this_bank},
            #{acct_br_no},#{acct_br_name},#{currency},
            #{update_date},#{update_user},#{acct_status},#{acct_category}
        )
    </insert>

    <!---注册商户信息-->
    <insert id="insertVaMerchInfo" parameterType="hashMap" >
        insert into va_merch_info
        (
            merch_id,merch_name,pay_merch_id,plat_id,
            legal_person,status,payment_type,
            global_type,global_id,tel_no,
            email,address,url,create_date,
            create_user,update_date,update_user,
            cancel_date,cancel_user,effect_date,
            source_type,remark,merch_type,
            merch_level,allow_user,allow_date,allow_status
        )
        values
        (
            #{merch_id},#{merch_name},#{pay_merch_id},#{plat_id},
            #{legal_person},#{status},#{payment_type},
            #{global_type},#{global_id},#{tel_no},
            #{email},#{address},#{url},
            #{create_date},#{create_user},
            #{update_date},#{update_user},
            #{cancel_date},#{cancel_user},
            #{effect_date},#{source_type},
            #{remark},#{merch_type},
            #{merch_level},#{allow_user},
            #{allow_date},#{allow_status}
        )
    </insert>

    <!---给商户绑定银行账户信息-->
    <insert id="insertVaMerchAccInfo" parameterType="hashMap">
        insert into va_merch_acct_info
        (
        acct_id,merch_id,acct_type,
        acct_no,acct_name,is_this_bank,
        acct_br_no,acct_br_name,currency,
        update_date,update_user,acct_status,acct_category
        )
        values
        (
        getnextval('merch_ban_acc_seq_no'),#{merch_id},#{acct_type},
        #{acct_no},#{acct_name},#{is_this_bank},
        #{acct_br_no},#{acct_br_name},#{currency},
        #{update_date},#{update_user},#{acct_status},#{acct_category}
        )
    </insert>

    <!---注册商户虚拟账户余额信息-->
    <insert id="insertVaMerchVirtualAcctBal" parameterType="hashMap">
        insert into va_merch_virtual_acct_bal
          ( merch_virid, vir_acct_type,merch_id,actural_bal,usable_bal,freeze_bal,recharge_bal )
        values
          ( #{merch_virid},#{vir_acct_type}, #{merch_id},#{actural_bal},#{usable_bal}, #{freeze_bal},#{recharge_bal})
    </insert>

    <!---扣减商户虚拟账户余额-->
    <update id="updateVaMerchVirtualAcctBalSub" parameterType="hashMap">
        update va_merch_virtual_acct_bal set
            actural_bal = actural_bal - #{tran_amt},
            usable_bal = usable_bal - #{usable_bal},
            recharge_bal = recharge_bal - #{recharge_bal}
        <trim prefix="where" prefixOverrides="and">
            <if test="vir_acct_type!=null and vir_acct_type!=''">and vir_acct_type=#{vir_acct_type}</if>
            <if test="payer_id!=null and payer_id!=''">and merch_id=#{payer_id}</if>
            <if test="payer_virid!=null and payer_virid!=''">and merch_virid=#{payer_virid}</if>
        </trim>
    </update>

    <!---增加商户虚拟账户余额-->
    <update id="updateVaMerchVirtualAcctBalAdd" parameterType="hashMap">
        update va_merch_virtual_acct_bal set
            actural_bal = actural_bal + #{tran_amt},
            usable_bal = usable_bal + #{usable_bal},
            recharge_bal = recharge_bal + #{recharge_bal}
        <trim prefix="where" prefixOverrides="and">
            <if test="vir_acct_type!=null and vir_acct_type!=''">and vir_acct_type=#{vir_acct_type}</if>
            <if test="payee_id!=null and payee_id!=''">and merch_id=#{payee_id}</if>
            <if test="payee_virid!=null and payee_virid!=''">and merch_virid=#{payee_virid}</if>
        </trim>
    </update>

    <!---注册商户虚拟账户-->
    <insert id="insertVaMerchVirtualAcct" parameterType="hashMap">
        insert into va_merch_virtual_acct
        (
            merch_virid,merch_id,plat_id,
            vir_acct_type,vir_acct_sort,
            vir_acct_name,currency,
            acct_status,acct_no,
            is_in,is_out,is_total_limit,
            total_limit,is_balance_limit,
            balance_type,balance_value,
            open_date,open_user,
            cancel_date,update_date,
            source_user,effect_date,merch_name
        )
        values
        (
            #{merch_virid},#{merch_id},#{plat_id},
            #{vir_acct_type},#{vir_acct_sort},
            #{vir_acct_name},#{currency},
            #{acct_status},#{acct_no},
            #{is_in},#{is_out},#{is_total_limit},
            #{total_limit},#{is_balance_limit},
            #{balance_type},#{balance_value},
            #{open_date},#{open_user},
            #{cancel_date},#{update_date},
            #{source_user},#{effect_date},#{merch_name}
        )
    </insert>

    <!--注册会员信息-->
    <insert id="insertVaCustInfo" parameterType="hashMap" >
        insert into va_cust_info
        (
            cust_id,cust_name,plat_id,user_id,
            global_type,global_id,tel_no,
            email,address,create_date,status,
            create_user,update_date,update_user,
            cancel_date,cancel_user,effect_date,
            source_type,remark,cust_type,
            cust_level,allow_user,allow_date,allow_status
        )
        values
        (
            #{cust_id},#{cust_name},#{plat_id},#{user_id},
            #{global_type},#{global_id},#{tel_no},
            #{email},#{address}, #{create_date}, #{status},
            #{create_user}, #{update_date},#{update_user},
            #{cancel_date},#{cancel_user}, #{effect_date},
            #{source_type}, #{remark},#{cust_type},
             #{cust_level},#{allow_user},#{allow_date},#{allow_status}
        )
    </insert>

    <!--给会员绑定银行账户信息-->
    <insert id="insertVaCustAccInfo" parameterType="hashMap">
        insert into va_cust_acct_info
        (
            acct_id,cust_id,acct_type,
            acct_no,acct_name,is_this_bank,
            acct_br_no,acct_br_name,currency,
            update_date,update_user,acct_status,acct_category
        )
        values
        (
            getnextval('cust_ban_acc_seq_no'),#{cust_id},#{acct_type},
            #{acct_no},#{acct_name},#{is_this_bank},
            #{acct_br_no},#{acct_br_name},#{currency},
            #{update_date},#{update_user},#{acct_status},#{acct_category}
        )
    </insert>

    <!--注册会员虚拟账户-->
    <insert id="insertVaCustVirtualAcct" parameterType="hashMap">
        insert into va_cust_virtual_acct
        (
        cust_virid,cust_id,plat_id,
        vir_acct_type,vir_acct_sort,
        vir_acct_name,user_id,currency,
        acct_status,acct_no,
        is_in,is_out,is_total_limit,
        total_limit,is_balance_limit,
        balance_type,balance_value,
        open_date,open_user,
        cancel_date,update_date,
        source_user,effect_date,cust_name
        )
        values
        (
        #{cust_virid},#{cust_id},#{plat_id},
        #{vir_acct_type},#{vir_acct_sort},
        #{vir_acct_name},#{user_id},#{currency},
        #{acct_status},#{acct_no},
        #{is_in},#{is_out},#{is_total_limit},
        #{total_limit},#{is_balance_limit},
        #{balance_type},#{balance_value},
        #{open_date},#{open_user},
        #{cancel_date},#{update_date},
        #{source_user},#{effect_date},#{cust_name}
        )
    </insert>

    <!--注册会员虚拟账户余额信息-->
    <insert id="insertVaCustVirtualAcctBal" parameterType="hashMap">
        insert into va_cust_virtual_acct_bal
          ( cust_virid,vir_acct_type,cust_id,actural_bal,usable_bal,freeze_bal,recharge_bal)
        values
          ( #{cust_virid}, #{vir_acct_type},#{cust_id},#{actural_bal}, #{usable_bal}, #{freeze_bal},#{recharge_bal})
    </insert>

    <!--增加会员虚拟账户余额-->
    <insert id="updateVaCustVirtualAcctBalAdd" parameterType="hashMap">
        update va_cust_virtual_acct_bal SET
            actural_bal = actural_bal + #{tran_amt},
            usable_bal = usable_bal + #{usable_bal},
            recharge_bal = recharge_bal + #{recharge_bal}
        <trim prefix="where" prefixOverrides="and">
            <if test="vir_acct_type!=null and vir_acct_type!=''">and vir_acct_type=#{vir_acct_type}</if>
            <if test="payee_id!=null and payee_id!=''">and cust_id=#{payee_id}</if>
            <if test="payee_virid!=null and payee_virid!=''">and cust_virid=#{payee_virid}</if>
        </trim>
    </insert>

    <!--扣减会员虚拟账户余额-->
    <update id="updateVaCustVirtualAcctBalSub" parameterType="hashMap">
        update va_cust_virtual_acct_bal SET
            actural_bal = actural_bal - #{tran_amt},
            usable_bal = usable_bal - #{usable_bal},
            recharge_bal = recharge_bal - #{recharge_bal}
        <trim prefix="where" prefixOverrides="and">
            <if test="vir_acct_type!=null and vir_acct_type!=''">and vir_acct_type=#{vir_acct_type}</if>
            <if test="payer_id!=null and payer_id!=''">and cust_id=#{payer_id}</if>
            <if test="payer_virid!=null and payer_virid!=''">and cust_virid=#{payer_virid}</if>
        </trim>
    </update>

    <!--插入会员充值流水-->
    <insert id="insertVaCustRechargeSeq" parameterType="hashMap">
        insert into va_cust_recharge_seq
        (
            cust_recharge_seq,order_no,pub_seq_no,payee_id,plat_id,
            payee_virid,payer_acct_no,tran_type,tran_amt,tran_date
        ) values (
            getnextval('cust_recharge_seq'),#{order_no},#{pub_seq_no},#{payee_id},#{plat_id},
            #{payee_virid},#{payer_acct_no},#{tran_type},#{tran_amt},str_to_date(#{tran_date},'%Y%m%d')
        )
    </insert>

    <!--插入会员提现流水-->
    <insert id="insertVaCustWithdrawSeq" parameterType="hashMap">
        insert into va_cust_withdraw_seq
        (
        cust_withdraw_seq,order_no,pub_seq_no,payer_id,plat_id,
        payer_virid,tran_type,tran_amt,tran_date,payee_acct_no
        ) values (
        getnextval('cust_withdraw_seq'),#{order_no},#{pub_seq_no},#{payer_id},#{plat_id},
        #{payer_virid},#{tran_type},#{tran_amt},str_to_date(#{tran_date},'%Y%m%d'),#{payee_acct_no}
        )
    </insert>

    <!--插入银行账务流水-->
    <insert id="insertCmAcctTranSeq" parameterType="hashMap">
        insert into cm_acct_tran_seq(
        tran_seq_no,pub_seq_no,tran_date,tran_time,curreny,tran_amt,tran_type,business_code,business_name,
        order_no,order_no_old,ref_no,merch_id,merch_name,cust_id,cust_name,payer_name,payer_vir_acct_no,
        payee_name,payee_vir_acct_no,plat_id,plat_name,payer_acct_no,payer_acct_name,payer_acct_sort,
        payer_is_this_bank,payer_acct_bank_no,payer_acct_bank_name,payee_acct_no,payee_acct_name,
        payee_acct_sort,payee_is_this_bank,payee_acct_bank_no,payee_acct_bank_name,tran_status,ret_code,
        ret_msg,host_seq_no,host_tran_status,is_check,is_recover,reversed,oper_time,user_id,contrast,refund_status
        ) values (
        getnextval('tran_seq_no'),#{pub_seq_no},#{tran_date},#{tran_time},#{curreny},#{tran_amt},#{tran_type},#{business_code},#{business_name},
        #{order_no},#{order_no_old},#{ref_no},#{merch_id},#{merch_name},#{cust_id},#{cust_name},#{payer_name},#{payer_vir_acct_no},
        #{payee_name},#{payee_vir_acct_no},#{plat_id},#{plat_name},#{payer_acct_no},#{payer_acct_name},#{payer_acct_sort},
        #{payer_is_this_bank},#{payer_acct_bank_no},#{payer_acct_bank_name},#{payee_acct_no},#{payee_acct_name},
        #{payee_acct_sort},#{payee_is_this_bank},#{payee_acct_bank_no},#{payee_acct_bank_name},#{tran_status},#{ret_code},
        #{ret_msg},#{host_seq_no},#{host_tran_status},#{is_check},#{is_recover},#{reversed},#{oper_time},#{user_id},#{contrast},#{refund_status})
    </insert>

    <!--更新银行账务流水-->
    <update id="updateCmAcctTranSeq" parameterType="hashMap">
        update cm_acct_tran_seq set
            tran_status= #{tran_status},ret_code=#{ret_code},
            ret_msg=#{ret_msg},is_check=#{is_check},is_recover=#{is_recover},
            reversed= #{reversed},contrast=#{contrast},refund_status=#{refund_status}
        <trim prefix="where" prefixOverrides="and">
            <if test="tran_date !=null and tran_date!='' ">and tran_date=#{tran_date}</if>
            <if test="tran_type !=null and tran_type!='' ">and tran_type=#{tran_type}</if>
            <if test="tran_amt !=null and tran_amt!='' "> and tran_amt=#{tran_amt}</if>
            <if test="payer_acct_no !=null and payer_acct_no!='' "> and payer_acct_no=#{payer_acct_no}</if>
            <if test="tran_seq_no !=null and tran_seq_no!='' ">and tran_seq_no=#{tran_seq_no}</if>
        </trim>
    </update>

    <!--插入交易公共流水-->
    <insert id="insertCmTranSeq" parameterType="hashMap">
      insert into cm_tran_seq(
          pub_seq_no,order_no,tran_date,tran_time,channel_seq_no,channel_date,channel_code,
          source_type,tran_type,business_code,user_id,plat_id,merch_id,cust_id,acct_no,currency,
          tran_amt,branch_id,msg_type,msg_code,tran_status,ret_code,fail_reason
          ) values (
          #{pub_seq_no},#{order_no},str_to_date(#{tran_date},'%Y%m%d'),#{tran_time},#{channel_seq_no},str_to_date(#{channel_date},'%Y%m%d'),#{channel_code},
          #{source_type},#{tran_type},#{business_code},#{user_id},#{plat_id},#{merch_id},#{cust_id},#{acct_no},#{currency},
          #{tran_amt},#{branch_id},#{msg_type},#{msg_code},#{tran_status},#{ret_code},#{fail_reason})
    </insert>

    <!--更新公共交流水-->
    <update id="updateCmTranSeq" parameterType="hashMap">
        update cm_tran_seq set
          tran_status=#{tran_status},msg_code=#{msg_code},plat_id=#{plat_id},cust_id=#{cust_id},
          merch_id=#{merch_id},ret_code=#{ret_code},fail_reason=#{fail_reason}
        where pub_seq_no=#{pub_seq_no}
    </update>

    <!--插入虚拟账务流水-->
    <insert id="insertVaVirAcctSeq" parameterType="hashMap">
        insert into va_vir_acct_seq (
            order_acct_seq_no,order_no,order_no_old,
            tran_seq, plat_id,payer_id,payer_virid,
            payer_sort, payee_id, payee_virid,payee_sort,
            pay_type,tran_amt,usable_bal,recharge_bal,
            tran_type,tran_status,tran_date,tran_time
            ) values (
            #{order_acct_seq_no}, #{order_no},#{order_no_old},
            #{tran_seq},#{plat_id},#{payer_id}, #{payer_virid},
            #{payer_sort},#{payee_id},#{payee_virid}, #{payee_sort},
            #{pay_type}, #{tran_amt}, #{usable_bal}, #{recharge_bal},
            #{tran_type}, #{tran_status}, #{tran_date},#{tran_time}
            )
    </insert>

    <!--更新虚拟账务流水-->
    <update id="updateVaVirAcctSeq" parameterType="hashMap">
        update va_vir_acct_seq set tran_status=#{tran_status}
        <trim prefix="where" prefixOverrides="and">
            <if test="tran_type !=null and tran_type!='' ">and tran_type=#{tran_type}</if>
            <if test="tran_status !=null and tran_status!='' ">and tran_status=#{tran_status}</if>
            <if test="plat_id !=null and plat_id!='' ">and plat_id=#{plat_id}</if>
            <if test="payer_id !=null and payer_id!='' ">and payer_id=#{payer_id}</if>
            <if test="payee_virid !=null and payee_virid!='' ">and payee_virid=#{payee_virid}</if>
            <if test="tran_date !=null and tran_date!='' ">and tran_date=#{tran_date}</if>
            <if test="tran_seq !=null and tran_seq!='' ">and cm_seq_no=#{tran_seq}</if>
            <if test="order_no_old !=null and order_no_old!='' "> and order_no_old=#{order_no_old}</if>
            <if test="order_no !=null and order_no!='' "> and order_no=#{order_no}</if>
            <if test="order_acct_seq_no !=null and order_acct_seq_no!='' ">and order_acct_seq_no=#{order_acct_seq_no}</if>
        </trim>
    </update>
    <insert id="insertVaTransferSeq" parameterType="hashMap">
        insert into va_transfer_seq(
          transfer_seq_no,pub_seq_no,order_no,plat_id,payer_id,payer_virid,payee_id,payee_virid,
          pay_type,tran_amt,tran_type,create_date
          ) values (
          getnextval('transfer_seq_no'),#{pub_seq_no},#{order_no},#{plat_id},#{payer_id},#{payer_virid},#{payee_id},#{payee_virid},
          #{pay_type},#{tran_amt},#{tran_type},str_to_date(concat(#{tran_date},#{tran_time}),'%Y%m%d%H%i%s'))
    </insert>

    <!--插入商户充值流水信息-->
    <insert id="insertVaMerchRechargeSeq" parameterType="hashMap">
      insert into va_merch_recharge_seq
        (
            merch_recharge_seq,order_no,pub_seq_no,payee_id,plat_id,
            payee_virid,payer_acct_no,tran_type,tran_amt,tran_date
        ) values (
            getnextval('merch_recharge_seq'),#{order_no},#{pub_seq_no},#{payee_id},#{plat_id},
            #{payee_virid},#{payer_acct_no},#{tran_type},#{tran_amt},str_to_date(#{tran_date},'%Y%m%d')
        )
    </insert>

    <!--插入商户提现流水信息-->
    <insert id="insertVaMerchWithdrawSeq" parameterType="hashMap">
        insert into va_merch_Withdraw_seq
        (
        merch_withdraw_seq,order_no,pub_seq_no,payer_id,plat_id,
        payer_virid,tran_type,tran_amt,tran_date,payee_acct_no
        ) values (
        #{merch_withdraw_seq},#{order_no},#{pub_seq_no},#{payer_id},#{plat_id},
        #{payer_virid},#{tran_type},#{tran_amt},str_to_date(#{tran_date},'%Y%m%d'),#{payee_acct_no}
        )
    </insert>

    <!--插入订单流水表-->
    <insert id="insertVaOrderSeq" parameterType="hashMap">
        insert into va_order_seq(
          oder_seq_no,order_no,order_no_old,pub_seq_no,plat_id,payer_id,payer_virid,
          payee_id,payee_virid,pay_type,tran_amt,tran_type,create_date
        ) values (
          #{oder_seq_no},#{order_no},#{order_no_old},#{pub_seq_no},#{plat_id},#{payer_id},#{payer_virid},
          #{payee_id},#{payee_virid},#{pay_type},#{tran_amt},#{tran_type},#{create_date})
    </insert>

    <!--插入订单信息表-->
    <insert id="insertVaOrderInfo" parameterType="hashMap">
        insert into va_order_info(
        inner_oder_no,order_no,order_no_old,pub_seq_no,plat_id,plat_virid,payer_id,payer_virid,payee_id,
        payee_virid,pay_type,tran_amt,usable_bal,recharge_bal,tran_type,order_status,create_date,update_date)
        ) values (
        #{inner_oder_no},#{order_no},#{order_no_old},#{pub_seq_no},#{plat_id},#{plat_virid},#{payer_id},#{payer_virid},#{payee_id},
        #{payee_virid},#{pay_type},#{tran_amt},#{usable_bal},#{recharge_bal},#{tran_type},#{order_status},#{create_date},#{update_date})
    </insert>

    <update id="dayEndTransferAmtForCust" parameterType="hashMap">
      update  va_cust_virtual_acct_bal set usable_bal=usable_bal+recharge_bal,recharge_bal=0 where recharge_bal>0
    </update>
    <update id="dayEndTransferAmtForMerch" parameterType="hashMap">
        update  va_merch_virtual_acct_bal set usable_bal=usable_bal+recharge_bal,recharge_bal=0 where recharge_bal>0
    </update>

    <!--更新生产日切-->
    <update id="updateProduceDay" parameterType="hashMap">
        update  cm_system set prev_run_date=run_date,run_date=#{run_date}
    </update>

</mapper>