<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emcs.mapper.plat.VaPlatVirtualAcctMapper">

    <insert id="insertVaPlatAccInfo" parameterType="hashMap">
        insert into va_plat_virtual_acct
        (
        vir_acct_id,plat_id,
        vir_acct_type,vir_acct_sort,
        vir_acct_name,acct_ccy,
        acct_status,rel_bank_acct,
        is_in,is_out,is_total_limit,
        total_limit,is_balance_limit,
        balance_type,balance_value,
        open_date,open_user,
        cancel_date,update_date,
        source_user,effect_date,plat_name
        )
        values
        (
       #{vir_acct_id},#{plat_id},
        #{vir_acct_type},#{vir_acct_sort},
        #{vir_acct_name},#{acct_ccy},
        #{acct_status},#{rel_bank_acct},
        #{is_in},#{is_out},#{is_total_limit},
        #{total_limit},#{is_balance_limit},
        #{balance_type},#{balance_value},
        #{open_date},#{open_user},
        #{cancel_date},#{update_date},
        #{source_user},#{effect_date},#{plat_name}
        )
    </insert>
</mapper>